In [13]:
import pandas as pd
from geopy.geocoders import Nominatim

# Read data from csv files and make small changes

In [14]:
eviction_cases_by_zipcode = pd.read_csv("data/cleaned_data/eviction_cases_by_zipcode.csv")
eviction_cases_time_and_summary = pd.read_csv("data/cleaned_data/eviction_cases_time_and_summary.csv")

In [71]:
eviction_cases_by_zipcode

     zip_code  total
0       10001    232
1       10002    189
2       10003    151
3       10004     24
4       10005     53
..        ...    ...
188     11436     38
189     11691    480
190     11692     33
191     11693     22
192     11694     49

[193 rows x 2 columns]

In [80]:
# zip code with coordinate
def get_coordinate(zip_code):
#     print(zip_code)
    locations = geolocator.geocode({"postalcode": zip_code}, country_codes = 'us')
    # check for the bad zip code
    if locations == None:
        return '#', '#'
    lat = locations.raw['lat']
    long = locations.raw['lon']
#     print(lat, long)
    return lat, long

eviction_cases_by_zipcode_with_geo = eviction_cases_by_zipcode.copy()

# unpack tuple to lat and long cols
eviction_cases_by_zipcode_with_geo['geo']= eviction_cases_by_zipcode.apply(lambda row : get_coordinate(row['zip_code']), axis = 1)
eviction_cases_by_zipcode_with_geo['lat'] = eviction_cases_by_zipcode_with_geo.apply(lambda row: row['geo'][0], axis = 1)
eviction_cases_by_zipcode_with_geo['long'] = eviction_cases_by_zipcode_with_geo.apply(lambda row: row['geo'][1], axis = 1)
# drop geo col
eviction_cases_by_zipcode_with_geo.drop('geo', inplace = True, axis = 1)
eviction_cases_by_zipcode_with_geo

     zip_code  total                 lat                long
0       10001    232   40.74842598693707  -73.99411702535993
1       10002    189   40.71705706995444  -73.98932867195893
2       10003    151   40.73158197952201  -73.98852394386677
3       10004     24   40.70080095723367  -74.01343483449755
4       10005     53  40.720452070523045  -74.00670648065534
..        ...    ...                 ...                 ...
188     11436     38  40.676614748911476  -73.79621799910487
189     11691    480    40.6015420284142  -73.75780824929745
190     11692     33  40.593850146019975  -73.79674394867838
191     11693     22    40.5986170804198  -73.81784688399355
192     11694     49   40.57741976779517  -73.84673104881765

[193 rows x 4 columns]

In [81]:
eviction_cases_by_zipcode_with_geo

     zip_code  total                 lat                long
0       10001    232   40.74842598693707  -73.99411702535993
1       10002    189   40.71705706995444  -73.98932867195893
2       10003    151   40.73158197952201  -73.98852394386677
3       10004     24   40.70080095723367  -74.01343483449755
4       10005     53  40.720452070523045  -74.00670648065534
..        ...    ...                 ...                 ...
188     11436     38  40.676614748911476  -73.79621799910487
189     11691    480    40.6015420284142  -73.75780824929745
190     11692     33  40.593850146019975  -73.79674394867838
191     11693     22    40.5986170804198  -73.81784688399355
192     11694     49   40.57741976779517  -73.84673104881765

[193 rows x 4 columns]

In [ ]:
eviction_cases_time_and_summary

# New heading